{% extends 'base/base.html' %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-auto">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="card-body">
                        <div class="row align-items-center mt-1">
                            <div class="col">
                                {{ form.password.label }}:
                            </div>
                            <div class="col-auto">
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <div class="col">
                                {{ form.password_confirmation.label }}:
                            </div>
                            <div class="col-auto">
                                {% if form.password_confirmation.errors %}
                                    {{ form.password_confirmation(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password_confirmation.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password_confirmation(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                {{ form.submit(class="btn btn-sm btn-primary") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}