{% extends 'base/base.html' %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-auto">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="card-body">
                        <div class="row align-items-center mb-1">
                            <div class="col">
                                {{ form.email.label }}:
                            </div>
                            <div class="col-md-auto">
                                {{ form.email(class="form-control") }}
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <div class="col">
                                {{ form.password.label }}:
                            </div>
                            <div class="col-md-auto">
                                {{ form.password(class="form-control") }}
                            </div>
                        </div>
                        <div class="row align-items-center mb-1">
                            <div class="col">
                                {{ form.password_confirmation.label }}:
                            </div>
                            <div class="col-md-auto">
                                {{ form.password_confirmation(class="form-control") }}
                            </div>
                        </div>
                        {% if form.errors %}
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="alert alert-danger text-center py-2 m-0" role="alert">
                                    Invalid credentials
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                {{ form.submit(class="btn btn-sm btn-primary") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-4 text-center">
            <small>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></small>
        </div>
    </div>
{% endblock %}