{% extends 'base/base.html' %}
{% block content %}
    <h3 class="mb-3">Password reset</h3>
    <form method="post">
        <!-- hidden_tag not work properly when deployed -->
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <div class="row justify-content-start align-items-center mb-3">
            <div class="col-auto">
                Account email address:
            </div>
            <div class="col-auto">
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
        </div>
        {{ form.submit(class="btn btn-sm btn-primary") }}
    </form>
{% endblock %}