{% extends 'base/base.html' %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-auto">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Reset password</h3>
                </div>
                <form method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                {{ form.email.label }}:
                            </div>
                            <div class="col-auto">
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                {{ form.submit(class="btn btn-sm btn-primary") }}
                            </div>
                            <div class="col-auto">
                                <small><a class="text-secondary align-middle" href="{{ url_for('auth.login') }}">Back</a></small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}