{% extends 'base/base.html' %}
{% block header %}
    <!-- custom -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>

    <!-- jquery ui -->
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- jquery data table -->
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap5.min.js"></script>

    <!-- charts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}
{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Favorites</h3>
                </div>
                <div class="card-body">
                    <div id="favoritesListArea">
                        <p class="mb-0">Add items to favorites to add expenses with one click. Select the <b>Favorite</b> option when adding a new expense</p>
                        <small>Note: Add items whose price is not variable</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Shares approval</h3>
                </div>
                <div class="card-body">
                    <div class="sharesApprovalArea"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h3>Quick history</h3>
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-end">
                            <div id="quickHistoryChartDropdown" class="dropdown">
                                <button id="quickHistoryChartDropdownButton" class="dropdown-toggle btn btn-sm btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">12 months</button>
                                <ul class="dropdown-menu" aria-labelledby="quickHistoryChartDropdownButton">
                                    <li>
                                        <button class="dropdown-item" type="button" value="6">6 months</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item active" type="button" value="12">12 months</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button" value="18">18 months</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button" value="24">24 months</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="quickHistoryChart"></canvas>
                </div>
                <div style="height: 52px;" class="card-footer">
                    <div class="d-flex align-items-center h-100">
                        <h5 class="m-0">Average expense: <span id="spentAverage">0</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 col-sm-4 col-md-2">
            <label for="fromDate">From date:</label>
            <input id="fromDate" class="form-control form-control-sm" type="text" value="{{ data.from_date }}" readonly>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <label for="toDate">To date:</label>
            <input id="toDate" class="form-control form-control-sm" type="text" value="{{ data.to_date }}" readonly>
        </div>
        <div class="col-6 col-sm-2 col-md-4">
            <label for="categoryDropdown">Category:</label>
            <div id="categoryDropdown" class="dropdown">
                <button id="categoryDropdownButton" class="dropdown-toggle btn btn-sm btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">All</button>
                <ul class="dropdown-menu" aria-labelledby="categoryDropdownButton">
                    <li>
                        <button class="dropdown-item active" type="button" value="0">All</button>
                    </li>
                    {% for category in data.categories %}
                        <li>
                            <button class="color-dropdown-item" style="--background-color: {{ category.color }}; --color: #fff" type="button" value="{{ category.id }}">{{ category.name }}</button>
                        </li>
                    {% endfor %}
                </ul>
                <input id="categoryDropdownValue" name="category" type="hidden" value="0" autocomplete="off">
            </div>
        </div>
        <div class="col-6 col-sm-2 col-md-4 d-flex align-items-end justify-content-end">
            <a class="btn btn-sm btn-outline-danger" type="button" href="{{ url_for('dashboard.home') }}">Reset</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Spent by category</h3>
                </div>
                <div class="card-body">
                    <canvas id="spentByCategoryChart"></canvas>
                </div>
                <div style="height: 52px;" class="card-footer">
                    <div class="d-flex align-items-center h-100">
                        <h5 class="m-0">Total spent: <span id="totalSpent">0</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3">
            <div class="card shadow-sm h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h3>Categories balance</h3>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                            <label for="categoriesBalanceTableSearch" hidden></label>
                            <input id="categoriesBalanceTableSearch" class="form-control form-control-sm table-search-input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-lg">
                        <div id="categoriesBalanceTableArea" class="table-responsive-md">
                            <div class="d-flex align-items-center">
                                <div class="d-inline">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <h5 class="d-inline ms-3 mb-0">Loading...</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 52px;" class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <div id="categoriesBalanceTablePaginationArea" class="d-flex justify-content-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                            <h3>Expenses</h3>
                        </div>
                        <div class="col-8 d-flex align-items-start justify-content-end">
                            <div class="row h-100">
                                <div class="col-auto">
                                    <div id="expensesTableLengthArea"></div>
                                </div>
                                <div class="col-auto">
                                    <label for="expensesTableSearch" hidden></label>
                                    <input id="expensesTableSearch" class="form-control form-control-sm table-search-input" type="text" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-lg">
                        <div id="expensesTableArea" class="table-responsive-md">
                            <div class="d-flex align-items-center">
                                <div class="d-inline">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <h5 class="d-inline ms-3 mb-0">Loading...</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 52px;" class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <button class="btn btn-sm btn-primary mt-1" type="button" data-bs-toggle="modal" data-bs-target="#modal" value="{{ url_for('dashboard.expense_create_form') }}">New</button>
                        </div>
                        <div class="col-4">
                            <div id="expensesTablePaginationArea" class="d-flex justify-content-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div id="modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 shadow-lg">
                <div id="loadingAnimation" class="container py-3">
                    <div class="row pt-5">
                        <div class="col-12 text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-5">
                        <div class="col-12 text-center">
                            <small>Loading content...</small>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-12 text-center">
                            <button class="btn btn-sm btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
                <div id="modalContentArea" style="display: none;" class="modal-body p-0" ></div>
            </div>
        </div>
    </div>
{% endblock %}