{% extends 'base/base.html' %}
{% block header %}
    <!-- custom -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>

    <!-- jquery data table -->
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap5.min.js"></script>

{% endblock %}
{% block content %}
    <div class="row justify-content-between mt-3">
        <div class="col-auto">
            <h3>"{{ current_user.username }}" settings</h3>
        </div>
        <div class="col-auto">
            <a class="btn btn-sm btn-outline-dark" href="{{ url_for('dashboard.home') }}">Back</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                            <h3>Alerts</h3>
                        </div>
                        <div class="col-8 d-flex align-items-start justify-content-end">
                            <div class="row h-100">
                                <div class="col-auto">
                                    <div id="alertsTableLengthArea"></div>
                                </div>
                                <div class="col-auto">
                                    <label for="alertsTableSearch" hidden></label>
                                    <input id="alertsTableSearch" class="form-control form-control-sm table-search-input" type="text" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="alertsTableArea" class="table-responsive-md">
                        <div class="d-flex align-items-center">
                            <div class="d-inline">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <h5 class="d-inline ms-3 mb-0">Loading...</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <button class="btn btn-sm btn-primary mt-1" type="button" data-bs-toggle="modal" data-bs-target="#modal" value="None">New</button>
                        </div>
                        <div class="col-4">
                            <div id="alertsTablePaginationArea" class="d-flex justify-content-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card shadow-sm h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h3>Categories</h3>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                            <label for="categoriesTableSearch" hidden></label>
                            <input id="categoriesTableSearch" class="form-control form-control-sm table-search-input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table id="categoriesTable" class="table align-middle w-100">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Limit</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <button class="btn btn-sm btn-primary mt-1" type="button" data-bs-toggle="modal" data-bs-target="#modal" value="{{ url_for('dashboard.category_create_form') }}">New</button>
                        </div>
                        <div class="col-4">
                            <div id="categoriesTablePaginationArea" class="d-flex justify-content-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card shadow-sm h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h3>Favorites</h3>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                            <label for="favoritesTableSearch" hidden></label>
                            <input id="favoritesTableSearch" class="form-control form-control-sm table-search-input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="favoritesTableArea" class="table-responsive-md">
                        <table id="favoritesTable" class="table align-middle w-100">
                            <thead>
                                <tr>
                                    <th scope="col">Description</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Options</th>
                                    <th hidden>Favorite Order</th> <!-- just for column ordering -->
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div style="height: 52px;" class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <div id="favoritesTablePaginationArea" class="d-flex justify-content-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Shares</h3>
                </div>
                <div class="card-body">
                    <div id="sharesTableArea" class="table-responsive-md">
                        <div class="d-flex align-items-center">
                            <div class="d-inline">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <h5 class="d-inline ms-3 mb-0">Loading...</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <button class="btn btn-sm btn-primary mt-1" type="button" data-bs-toggle="modal" data-bs-target="#modal" value="">New</button>
                        </div>
                        <div class="col-4">
                            <div id="sharesTablePaginationArea" class="d-flex justify-content-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div id="modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 shadow-lg">
                <div id="loadingAnimation" class="container py-3">
                    <div class="row pt-5">
                        <div class="col-12 text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-5">
                        <div class="col-12 text-center">
                            <small>Loading content...</small>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-12 text-center">
                            <button class="btn btn-sm btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
                <div id="modalContentArea" style="display: none;" class="modal-body p-0" ></div>
            </div>
        </div>
    </div>
{% endblock %}