<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf" content="{{ csrf_token() }}">
    <title>{{ title }}</title>

    <link rel="shortcut icon" type="image/svg" href="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- font icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    {% block header %}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
    <header>
        <div class="container-lg mt-3">
            <div class="row justify-content-between align-items-center">
                <div class="col-5">
                    <a class="h4 text-decoration-none text-dark" href="{{ url_for('dashboard.home') }}">
                        <i class="bi-basket2"></i>
                        Expense manager
                    </a>
                </div>
                {% if current_user.is_authenticated %}
                <div class="col-2 text-end">
                    <div class="dropdown">
                        <a id="user_dropdown" class="d-block btn-lg link-dark text-decoration-none dropdown-toggle p-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-md-end text-small shadow" aria-labelledby="user_dropdown">
                            <li>
                                <a class="dropdown-item text-decoration-none" href="{{ url_for('dashboard.settings') }}">
                                    <i class="bi-gear"></i>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">
                                    <i class="bi-box-arrow-right"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <hr>
        </div>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}
    </div>
    <main class="flex-shrink-0">
        <div class="container-lg">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="footer py-3 mt-auto">
        <div class="container-lg">
            <hr>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <small>Made with <span class="text-danger"><i class="bi-heart-fill"></i></span> by jverdasca and iprazeres</small>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>